@import "reset.css";

/* basic */
ul { list-style: none; }
.odd { 
  background-color: #C6DBC1; 
  margin: 5px 0 5px 0; 
  border:0px solid;
  border-radius:15px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
}
.even { background-color: #FFF; margin: 5px 0 5px 0; }
.left { float: left; }
.right { float: right; }
.full-width { width: 100%; }
.green { background-color: green; }

/* misc */
html, body {
  height: 100%;
}
body {
  font-size: 16px;
  font-family: Bitstream Charter, FreeSerif, Georgia, Times New Roman, serif;
  margin: 0;
  padding: 0;
  color: black;
  background-color: #FFF !important;
  text-align: center;
}

div#wrapper {
  text-align: left;
  margin: 0 auto;
  min-height: 100%;
  width: 920px;
  overflow: hidden;
  position: relative;
}
* html #wrapper {
  height: 100%;
}

hr {
  background-color: #7e1f1f;
  border: medium none;
  height:1px;
  margin: 10px 0 0 0;
}

h2, h3, h4, h5 {
  font-family: Bitstream Charter, FreeSerif, Georgia, Times New Roman, serif;
}

h2 { font-size: 25px; }
h3 { font-size: 20px; }

a {
  text-decoration: none;
  color: #7e1f1f;
}

a:hover { color: #000; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.submit, .button {
  margin-bottom: 10px;
  padding: 3px 7px 3px 7px;
}
div.field {
  margin: 0 0 10px 0;
}
input {
  margin: 2px 0 0 0;
  padding: 2px;
}
div.field textarea {
  padding: 5px;
}

#notice {
  color: green;
}

#alert {
  color: red;
}
.field_with_errors input, .field_with_errors textarea{
  background-color: #FFFFE6;
  border: 1px solid red;
}

#error_explanation {
  padding-bottom: 0;
  margin-bottom: 20px;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  font-size: 15px;
  margin: 10px 0 0 0 !important;
  color: #c00;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: none;
  margin: 0 0 0 10px;
}

/* Topo */

#login {
  font-size: 14px;
  margin-top: 5px;
}

div#header {
  height: 126px;
  width: 920px;
  float: left;
  margin-bottom: 10px;
}

div#header h1 {
  width: 195px;
  height: 126px;
  float: left;
  background: url(../images/logo_header.png) no-repeat scroll 0 0 transparent;
  position: absolute;
  text-indent: -9999px;
}

/* Menu */

div#header ul {
  float: right;
  margin-top: 50px;
}

div#header li {
  display:inline;
  margin-left:20px;
}

div#header a {
  font-family: Bitstream Charter, FreeSerif, Georgia, Times New Roman, serif;
  font-size: 20px;
}

/* Content */
div#content {
  float: left;
  width: 920px;
  padding-bottom: 30px;
  margin: 20px 0 30px 0;
  background-color: white;
}

div#content h2 {
  margin-bottom: 15px;
}

div#home_post {
  float: left;
  width: 920px;
}

div.note {
  width: 100%;
  margin-bottom: 25px;
  font-size: 25px;
}

div#site_column_left {
  float: left;
  width: 570px;
}

div#site_column_left p {
  margin-bottom: 10px;
}
div#site_column_right {
  float: left;
  width: 330px;
  margin: 0 0 20px 20px;
}

div#home_post {
  float: left;
  margin-top: 20px;
}

div#column1 {
  float: left;
  width: 700px;
}

div#column1 h2 {
  margin: 0 !important;
}

div#column1 #post {
  margin-bottom: 20px;
}

div#column1 .post_info {
  margin-bottom: 20px;
}

div#column2 {
  float: right;
  text-align: right;
  width: 200px;
  margin-left: 20px;
}

div#column2 form input {
  width: 150px;
  padding: 2px;
}

div#column2 form, div#column2 ul {
  margin-bottom: 15px;
}

/* Comment */

div.comment {
  padding: 10px;
}
div.comment .avatar {
  display: inline-block;
  padding: 0 5px 5px 0;
}
div.comment .meta {
  vertical-align: top;
  display: inline-block;
}

/* Contact */
#new_contact textarea {
  width: 100%;
  height: 150px;
}

/* New user */
#new_user {
  float: left;
  width: 250px;
}

#wrapper-login {
  font-size: 16px;
  margin: 0 auto;
  width: 215px;
  margin-top: 40px;
}

/* footer */
div#footer {
  float: left;
  font-size: 14px;
  width: 920px;
  text-align: center;
  padding: 20px 0 10px 0;
  position: absolute;
  bottom: 0;
}

/* Admin */
div#body {
  float: left;
  width: 600px;
  display: inline;
}

div#sidebar {
  float: left;
  display: inline;
  width: 280px;
  margin-left: 40px;
}

.list li {
  padding: 4px 6px 4px 6px;
  margin: 0;
}

/*Meetings*/

div.sub_content {
  width: 100%;
  margin-bottom: 40px;
}
div.meeting_image {
  width: 330px;
  display: inline-block;
  padding: 15px 15px 10px 15px;
}

div.meeting_image p {
  text-align: center;
}

div.meeting_image p a {
  margin: 0 5px 0 5px;
}
div.meeting_description {
  width: 555px;
  vertical-align: top;
  padding-top: 15px;
  display: inline-block;
}

/* User */
ul.list_user li {
  float: left;
  width: 920px;
  padding: 5px 0 5px 0;
}

ul.list_user li .name, .project, .city { margin-top: 18px; }

ul.list_user li .name {
  float: left;
  width: 330px;
  margin-left: 20px;
}

ul.list_user li .city {
  float: left;
  width: 260px;
  text-align: center;
}

ul.list_user li .name, .city {
  float: left;
}

ul.list_user li span.project {
  float: right;
  width: 230px;
  margin-right: 20px;
  text-align: right;
}

ul.list_user li span.gravatar {
  float: left;
  margin: 4px 0 0 12px;
}

/* User#show */

div.show_user {
  width: 920px;
  height: 48px;
  float: left;
}

div.show_user .gravatar, div.show_user .name, div.show_user .email {
  float: left;
}

div.show_user .name {
  margin: 7px 10px 0 10px;
}

div.show_user .email {
  margin: 15px 10px 0 10px;
}

div.show_user .city {
  float: right;
  margin: 15px 0 0 0;
}

.show_user_projects {
  float: left;
  width: 100%;
  margin: 20px 0 0 0;
}
.show_user_projects li {
  margin-top: 10px;
}
.user_edit {
  float: left;
}

/* Project */

div#project_content {
  float: left;
  width: 900px;
  padding: 5px 10px 10px 10px;
}

div#project_content h3 {
  width: 75%;
}

div#project_content .project_user {
  float: right;
  margin: 0 20px 0 0;
}

div#project_content p {
  width: 100%;
  margin: 0;
}

div#project_content ul li {
  float: left;
  margin: 10px 10px 0 0;
}

div#project_content h4 {
  margin: 10px 0 0 0;
}
