<div class="full-widht">
  <h2>Novo membro</h2>

  <%= render 'form' %>
<div>
  <h2>Conheça nosso grupo de discussão</h2>
  <p>Compartilhe sua experiência, tire dúvidas, conheça mais nossos membros, marque encontros...</p>
  <%= link_to "Entre no Google Groups!", "http://groups.google.com.br/group/guru-sc/", :target => "_blank" %>
</div>
</div>
